{{!-- <h1>TE DIGO QUE ESTO ES MENTIRA</h1> --}}

{{#each posts}}
<h1>{{this.title}}</h1>
<p>{{this.creatorId.username}}</p>
<img src={{this.picPath}}>
{{!-- <p>{{this.content}}</p> --}}
<p><a href="/sources/post/{{this.id}}">View more</a></p>
{{/each}}


