<div class="completePostBg">



<div class="postPrevFlex">
  <div class="postPrevCont">
<img src={{post.picPath}}>
<h1 class="h1PostFull">{{post.title}}</h1>
<hr class="postHr">
<pc class="authorFull">Author: {{post.creatorId.username}}</pc>
<p class="contentPostFull">{{post.content}}</p>
</div>
</div>
<div class="btnBackFlex">
<a class="button is-dark btnPostPrev" href="/sources">Go back</a>
</div>
{{#ifEquals post.creatorId._id user.id}}
<div class="btnBackFlex">
<a class="button is-danger btnPostPrev" href="/sources/post/delete/{{post.id}}">Borrar</a>
</div>
{{/ifEquals}}




</div>